In [2]:
import pandas as pd
import numpy as np
import scipy.stats
import matplotlib.pyplot as plt
import statsmodels

In [25]:
pyaterka = pd.read_excel('pyaterka_df.xlsx')

In [27]:
magnit = pd.read_excel('magnit_df.xlsx')

In [28]:
lenta = pd.read_excel('lenta_df.xlsx')

In [33]:
lenta.info()

<class 'pandas.DataFrame'>
RangeIndex: 381 entries, 0 to 380
Data columns (total 46 columns):
 #   Column                                                          Non-Null Count  Dtype
---  ------                                                          --------------  -----
 0   visit_freq                                                      375 non-null    str
 1   logo_dobryy                                                     381 non-null    str
 2   logo_365_dney                                                   381 non-null    str
 3   logo_giardino_club                                              381 non-null    str
 4   logo_spar                                                       381 non-null    str
 5   logo_lenta                                                      381 non-null    str
 6   logo_delisse                                                    381 non-null    str
 7   logo_premium_club                                               381 non-null    str
 8   logo_dolce_albero                                               381 non-null    str
 9   logo_home_club                                                  381 non-null    str
 10  logo_lenta_fresh                                                381 non-null    str
 11  stm_freq                                                        381 non-null    str
 12  stm_share                                                       381 non-null    str
 13  attitude_item_quality_concern_likert                            381 non-null    str
 14  attitude_item_prefer_available_likert                           381 non-null    str
 15  attitude_item_brand_alternative_likert                          381 non-null    str
 16  benefit_item_saves_money_likert                                 381 non-null    str
 17  benefit_item_choose_same_price_likert                           381 non-null    str
 18  benefit_item_value_money_likert                                 381 non-null    str
 19  assortment_item_category_coverage_likert                        381 non-null    str
 20  assortment_item_price_range_likert                              381 non-null    str
 21  assortment_item_wide_choice_likert                              381 non-null    str
 22  retailer_brand_item_logo_quality_trust_likert                   381 non-null    str
 23  retailer_brand_item_quality_guarantee_likert                    381 non-null    str
 24  retailer_brand_item_failure_hurts_attitude_likert               381 non-null    str
 25  cannibalization_item_too_similar_likert                         381 non-null    str
 26  cannibalization_item_choice_difficulty_likert                   381 non-null    str
 27  cannibalization_item_segment_clarity_likert                     381 non-null    str
 28  uniqueness_item_unique_features_likert                          381 non-null    str
 29  uniqueness_item_visit_for_pl_likert                             381 non-null    str
 30  uniqueness_item_new_interest_likert                             381 non-null    str
 31  loyalty_item_regular_purchase_likert                            381 non-null    str
 32  loyalty_item_prefer_over_brands_likert                          381 non-null    str
 33  loyalty_item_recommend_pl_likert                                381 non-null    str
 34  Я регулярно совершаю покупки в магазинах Лента                  381 non-null    str
 35  Когда есть выбор я предпочитаю магазины Лента другим магазинам  381 non-null    str
 36  recommend_chain                                                 381 non-null    str
 37  socdec_gender                                                   381 non-null    str
 38  socdec_education_level                                          381 non-null    str
 39  socdec_age_years                                                381 non-null    int64
 40  socdec_primary_shopper                                          381 non-null    str
 41  socdec_household_size                                           381 non-null    object
 42  socdec_overall_purchase_frequency                               381 non-null    str
 43  socdec_residence_type                                           381 non-null    str
 44  socdec_material_status                                          381 non-null    str
 45  retailer                                                        381 non-null    str
dtypes: int64(1), object(1), str(44)
memory usage: 137.1+ KB

In [34]:
pyaterka['retailer'] = 'pyaterochka'

In [35]:
magnit['retailer'] = 'magnit'

In [36]:
lenta['retailer'] = 'lenta'

In [45]:
pyaterka.dropna(inplace=True)
lenta.dropna(inplace=True)
magnit.dropna(inplace=True)

In [51]:
lenta.socdec_gender.unique()

<StringArray>
['Женский', 'Мужской', 'Не хочу отвечать']
Length: 3, dtype: str

In [70]:
magnit['socdec_material_status_clean'] = (
    magnit['socdec_material_status']
    .astype(str)
    .str.strip()
)

lenta['socdec_material_status_clean'] = (
    lenta['socdec_material_status']
    .astype(str)
    .str.strip()
)

pyaterka['socdec_material_status_clean'] = (
    pyaterka['socdec_material_status']
    .astype(str)
    .str.strip()
)

In [80]:
material_map = {
    'Едва хватает купить еду': 'Ниже среднего',
    'На покупку продуктов денег хватает, но на одежду и обувь приходится брать кредит': 'Ниже среднего',

    'Могу себе позволить новую одежду и обувь, но на крупную бытовую технику приходится брать кредит': 'Среднее',
    'Могу себе позволить крупную бытовую технику, но на автомобиль приходится брать кредит': 'Среднее',

    'Могу себе позволить новый автомобиль': 'Выше среднего'
}

In [81]:
lenta['socdec_material_status_recoded'] = (
    lenta['socdec_material_status']
    .map(material_map)
)

magnit['socdec_material_status_recoded'] = (
    magnit['socdec_material_status']
    .map(material_map)
)

pyaterka['socdec_material_status_recoded'] = (
    pyaterka['socdec_material_status']
    .map(material_map)
)

In [73]:
gender_map = {
    'Мужской': 1,
    'Женский': 0,
    'Не хочу отвечать': -1
}

In [74]:
lenta['socdec_gender_num'] = (
    lenta['socdec_gender']
    .map(gender_map)
)

magnit['socdec_gender_num'] = (
    magnit['socdec_gender']
    .map(gender_map)
)

pyaterka['socdec_gender_num'] = (
    pyaterka['socdec_gender']
    .map(gender_map)
)

In [82]:
magnit[magnit['socdec_material_status_recoded'].isna()].head()

,visit_freq,logo_matritsa,logo_moya_tsena,logo_lenta_fresh,logo_primiere_of_taste,logo_m_kuhnya,logo_green_ribbon,logo_lucky_days,logo_m,logo_gusto_di_roma,...,socdec_age_years,socdec_primary_shopper,socdec_household_size,socdec_overall_purchase_frequency,socdec_residence_type,socdec_material_status,retailer,socdec_material_status_recoded,socdec_gender_num,socdec_material_status_clean
26,Каждый день,Бренды известных производителей,СТМ другой сети,СТМ другой сети,СТМ другой сети,СТМ Магнит Семейный,СТМ другой сети,СТМ другой сети,Фантазийные СТМ Магнит Семейный,СТМ другой сети,...,33.0,Я,4,Каждый день,Крупный и большой город (от 100 до 900 тыс. жи...,Могу себе позволить новый автомобиль,magnit,NaN,0,Могу себе позволить новый автомобиль
38,Несколько раз в неделю,Бренды известных производителей,СТМ Магнит Семейный,СТМ другой сети,СТМ Магнит Семейный,СТМ Магнит Семейный,СТМ Магнит Семейный,СТМ Магнит Семейный,СТМ Магнит Семейный,СТМ Магнит Семейный,...,32.0,Я,3,Каждый день,Крупный и большой город (от 100 до 900 тыс. жи...,Могу себе позволить новый автомобиль,magnit,NaN,0,Могу себе позволить новый автомобиль
58,Реже раза в месяц,Бренды известных производителей,СТМ другой сети,СТМ другой сети,СТМ другой сети,СТМ Магнит Семейный,СТМ другой сети,СТМ другой сети,СТМ Магнит Семейный,СТМ другой сети,...,54.0,Я,2,Раз в неделю,Крупный и большой город (от 100 до 900 тыс. жи...,Едва хватает купить еду,magnit,NaN,0,Едва хватает купить еду
79,Несколько раз в неделю,Бренды известных производителей,СТМ Магнит Семейный,СТМ другой сети,Затрудняюсь ответить,СТМ Магнит Семейный,Затрудняюсь ответить,СТМ Магнит Семейный,СТМ Магнит Семейный,Затрудняюсь ответить,...,52.0,Я,3,Несколько раз в неделю,Другой город миллионник,Могу себе позволить новый автомобиль,magnit,NaN,1,Могу себе позволить новый автомобиль
80,Несколько раз в неделю,Бренды известных производителей,СТМ другой сети,СТМ другой сети,Затрудняюсь ответить,СТМ Магнит Семейный,Затрудняюсь ответить,Затрудняюсь ответить,СТМ Магнит Семейный,Затрудняюсь ответить,...,42.0,Я,4,Несколько раз в неделю,Крупный и большой город (от 100 до 900 тыс. жи...,Могу себе позволить новый автомобиль,magnit,NaN,0,Могу себе позволить новый автомобиль

In [68]:
magnit.info()

<class 'pandas.DataFrame'>
RangeIndex: 397 entries, 0 to 396
Data columns (total 48 columns):
 #   Column                                                                                  Non-Null Count  Dtype
---  ------                                                                                  --------------  -----
 0   visit_freq                                                                              397 non-null    str
 1   logo_matritsa                                                                           397 non-null    str
 2   logo_moya_tsena                                                                         397 non-null    str
 3   logo_lenta_fresh                                                                        397 non-null    str
 4   logo_primiere_of_taste                                                                  397 non-null    str
 5   logo_m_kuhnya                                                                           397 non-null    str
 6   logo_green_ribbon                                                                       397 non-null    str
 7   logo_lucky_days                                                                         397 non-null    str
 8   logo_m                                                                                  397 non-null    str
 9   logo_gusto_di_roma                                                                      397 non-null    str
 10  logo_m_magnit                                                                           397 non-null    str
 11  stm_freq                                                                                397 non-null    str
 12  stm_share                                                                               397 non-null    str
 13  attitude_item_quality_concern_likert                                                    397 non-null    str
 14  attitude_item_prefer_available_likert                                                   397 non-null    str
 15  attitude_item_brand_alternative_likert                                                  397 non-null    str
 16  benefit_item_saves_money_likert                                                         397 non-null    str
 17  benefit_item_choose_same_price_likert                                                   397 non-null    str
 18  benefit_item_value_money_likert                                                         397 non-null    str
 19  assortment_item_category_coverage_likert                                                397 non-null    str
 20  assortment_item_price_range_likert                                                      397 non-null    str
 21  assortment_item_wide_choice_likert                                                      397 non-null    str
 22  retailer_brand_item_logo_quality_trust_likert                                           397 non-null    str
 23  retailer_brand_item_quality_guarantee_likert                                            397 non-null    str
 24  retailer_brand_item_failure_hurts_attitude_likert                                       397 non-null    str
 25  cannibalization_item_too_similar_likert                                                 397 non-null    str
 26  cannibalization_item_choice_difficulty_likert                                           397 non-null    str
 27  cannibalization_item_segment_clarity_likert                                             397 non-null    str
 28  uniqueness_item_unique_features_likert                                                  397 non-null    str
 29  uniqueness_item_visit_for_pl_likert                                                     397 non-null    str
 30  uniqueness_item_new_interest_likert                                                     397 non-null    str
 31  loyalty_item_regular_purchase_likert                                                    397 non-null    str
 32  loyalty_item_prefer_over_brands_likert                                                  397 non-null    str
 33  loyalty_item_recommend_pl_likert                                                        397 non-null    str
 34  Я регулярно совершаю покупки в магазинах супермаркетов Магнит Семейный                  397 non-null    str
 35  Когда есть выбор я предпочитаю магазины супермаркетов Магнит Семейный другим магазинам  397 non-null    str
 36  recommend_chain                                                                         397 non-null    str
 37  socdec_gender                                                                           397 non-null    str
 38  socdec_education_level                                                                  397 non-null    str
 39  socdec_age_years                                                                        397 non-null    float64
 40  socdec_primary_shopper                                                                  397 non-null    str
 41  socdec_household_size                                                                   397 non-null    object
 42  socdec_overall_purchase_frequency                                                       397 non-null    str
 43  socdec_residence_type                                                                   397 non-null    str
 44  socdec_material_status                                                                  397 non-null    str
 45  retailer                                                                                397 non-null    str
 46  socdec_material_status_recoded                                                          352 non-null    str
 47  socdec_gender_num                                                                       397 non-null    int64
dtypes: float64(1), int64(1), object(1), str(45)
memory usage: 149.0+ KB

In [83]:
# === CELL 1: helpers (просто вставь в ноутбук) ===

def _z_test_two_proportions(x1: int, n1: int, x2: int, n2: int, alternative: str = "two-sided"):
    """
    Z-тест разницы долей (pooled).
    alternative: "two-sided" | "larger" | "smaller"
    Возвращает (z, p).
    """
    if n1 == 0 or n2 == 0:
        return np.nan, np.nan

    p_pool = (x1 + x2) / (n1 + n2)
    denom = np.sqrt(p_pool * (1 - p_pool) * (1 / n1 + 1 / n2))
    if denom == 0:
        return np.nan, np.nan

    z = (x1 / n1 - x2 / n2) / denom

    if alternative == "two-sided":
        p = 2 * scipy.stats.norm.sf(np.abs(z))
    elif alternative == "larger":     # H1: p1 > p2
        p = scipy.stats.norm.sf(z)
    elif alternative == "smaller":    # H1: p1 < p2
        p = scipy.stats.norm.cdf(z)
    else:
        raise ValueError("alternative must be: two-sided|larger|smaller")

    return z, p


def _gender_z_test_drop_minus1(df_a: pd.DataFrame, df_b: pd.DataFrame, col: str = "socdec_gender"):
    """
    Z-тест разницы долей по полу.
    ВАЖНО: значения -1 удаляем ТОЛЬКО в рамках этого теста (локально).
    Сравниваем долю "Мужской" (=1) между A и B.
    """
    a = pd.to_numeric(df_a[col], errors="coerce")
    b = pd.to_numeric(df_b[col], errors="coerce")

    a = a.dropna()
    b = b.dropna()

    a = a[a != -1]
    b = b[b != -1]

    n1 = int(a.shape[0])
    n2 = int(b.shape[0])

    x1 = int((a == 1).sum())
    x2 = int((b == 1).sum())

    z, p = _z_test_two_proportions(x1, n1, x2, n2, alternative="two-sided")

    p1 = (x1 / n1) if n1 else np.nan
    p2 = (x2 / n2) if n2 else np.nan

    return z, p, n1, n2, p1, p2


def _mann_whitney_test(df_a: pd.DataFrame, df_b: pd.DataFrame, col: str, alternative: str = "two-sided"):
    """
    Mann–Whitney U (две независимые выборки).
    """
    x = pd.to_numeric(df_a[col], errors="coerce").dropna()
    y = pd.to_numeric(df_b[col], errors="coerce").dropna()

    n1 = int(x.shape[0])
    n2 = int(y.shape[0])

    if n1 == 0 or n2 == 0:
        return np.nan, np.nan, n1, n2

    u, p = scipy.stats.mannwhitneyu(x, y, alternative=alternative)
    return u, p, n1, n2


def _chi2_test(df_a: pd.DataFrame, df_b: pd.DataFrame, col: str):
    """
    Chi-square test of independence:
    (dataset A vs dataset B) x (категории col)
    Категорий может быть сколько угодно — не надо заранее знать число.
    Возвращает chi2, p, dof, min_expected, contingency_table
    """
    a = df_a[[col]].copy()
    b = df_b[[col]].copy()

    a["_dataset_"] = "A"
    b["_dataset_"] = "B"
    both = pd.concat([a, b], ignore_index=True)

    both = both.dropna(subset=[col])

    # нормализуем типы/пробелы, иначе категории могут раздваиваться
    s = both[col].astype("object")
    s = s.apply(lambda v: v.strip() if isinstance(v, str) else v)
    both[col] = s.astype("object").astype(str)

    ct = pd.crosstab(both["_dataset_"], both[col])

    if ct.shape[0] < 2 or ct.shape[1] < 2:
        return np.nan, np.nan, np.nan, np.nan, ct

    chi2, p, dof, expected = scipy.stats.chi2_contingency(ct)
    min_expected = float(np.min(expected)) if expected is not None else np.nan
    return chi2, p, dof, min_expected, ct


def run_pairwise_tests(pyaterka: pd.DataFrame, magnit: pd.DataFrame, lenta: pd.DataFrame):
    """
    Тесты по правилам, которые ты задал:
    - socdec_gender: z для доли (локально выкидываем -1)
    - socdec_age_years: Mann–Whitney U
    - socdec_primary_shopper: chi-square
    - socdec_household_size: chi-square
    - socdec_material_status: chi-square
    - visit_freq: chi-square
    """
    pairs = [
        ("pyaterka", pyaterka, "magnit", magnit),
        ("pyaterka", pyaterka, "lenta",  lenta),
        ("magnit",   magnit,   "lenta",  lenta),
    ]

    plan = [
        ("socdec_gender", "z_prop"),
        ("socdec_age_years", "mannwhitney"),
        ("socdec_primary_shopper", "chi2"),
        ("socdec_household_size", "chi2"),
        ("socdec_material_status", "chi2"),
        ("visit_freq", "chi2"),
    ]

    rows = []

    for a_name, a_df, b_name, b_df in pairs:
        for col, test in plan:
            if col not in a_df.columns or col not in b_df.columns:
                rows.append({
                    "pair": f"{a_name} vs {b_name}",
                    "variable": col,
                    "test": test,
                    "stat": np.nan,
                    "p_value": np.nan,
                    "n_a": np.nan,
                    "n_b": np.nan,
                    "extra": "column_missing"
                })
                continue

            if test == "z_prop":
                z, p, n1, n2, p1, p2 = _gender_z_test_drop_minus1(a_df, b_df, col=col)
                rows.append({
                    "pair": f"{a_name} vs {b_name}",
                    "variable": col,
                    "test": "z_test_proportion(male=1)",
                    "stat": z,
                    "p_value": p,
                    "n_a": n1,
                    "n_b": n2,
                    "extra": f"p_male_a={p1:.4f} | p_male_b={p2:.4f} | dropped(-1) локально"
                })

            elif test == "mannwhitney":
                u, p, n1, n2 = _mann_whitney_test(a_df, b_df, col=col)
                rows.append({
                    "pair": f"{a_name} vs {b_name}",
                    "variable": col,
                    "test": "Mann–Whitney U",
                    "stat": u,
                    "p_value": p,
                    "n_a": n1,
                    "n_b": n2,
                    "extra": ""
                })

            elif test == "chi2":
                chi2, p, dof, min_exp, ct = _chi2_test(a_df, b_df, col=col)
                rows.append({
                    "pair": f"{a_name} vs {b_name}",
                    "variable": col,
                    "test": "Chi-square",
                    "stat": chi2,
                    "p_value": p,
                    "n_a": int(a_df[col].notna().sum()),
                    "n_b": int(b_df[col].notna().sum()),
                    "extra": f"dof={dof} | min_expected={min_exp:.3f} | k={ct.shape[1]}"
                })
            else:
                raise ValueError(f"Unknown test type: {test}")

    res = pd.DataFrame(rows)

    # удобная сортировка: сначала пара, потом p-value
    res = res.sort_values(["pair", "p_value"], ascending=[True, True], na_position="last").reset_index(drop=True)
    return res

In [84]:
# === CELL 2: run ===

results = run_pairwise_tests(pyaterka, magnit, lenta)
results

,pair,variable,test,stat,p_value,n_a,n_b,extra
0,magnit vs lenta,visit_freq,Chi-square,79.296235,2.455171e-16,397,375,dof=4 | min_expected=23.802 | k=5
1,magnit vs lenta,socdec_age_years,Mann–Whitney U,76989.000000,4.095431e-01,397,375,
2,magnit vs lenta,socdec_material_status,Chi-square,2.814591,5.893167e-01,397,375,dof=4 | min_expected=8.744 | k=5
3,magnit vs lenta,socdec_primary_shopper,Chi-square,0.875416,6.455142e-01,397,375,dof=2 | min_expected=17.973 | k=3
4,magnit vs lenta,socdec_household_size,Chi-square,0.851101,9.314689e-01,397,375,dof=4 | min_expected=45.661 | k=5
5,magnit vs lenta,socdec_gender,z_test_proportion(male=1),NaN,NaN,0,0,p_male_a=nan | p_male_b=nan | dropped(-1) лока...
6,pyaterka vs lenta,visit_freq,Chi-square,192.356545,1.651490e-40,435,375,dof=4 | min_expected=31.481 | k=5
7,pyaterka vs lenta,socdec_age_years,Mann–Whitney U,76775.500000,1.487140e-01,435,375,
8,pyaterka vs lenta,socdec_material_status,Chi-square,6.688711,1.532817e-01,435,375,dof=4 | min_expected=9.722 | k=5
9,pyaterka vs lenta,socdec_household_size,Chi-square,5.061315,2.810639e-01,435,375,dof=4 | min_expected=37.037 | k=5
10,pyaterka vs lenta,socdec_primary_shopper,Chi-square,1.531828,4.649089e-01,435,375,dof=2 | min_expected=19.907 | k=3
11,pyaterka vs lenta,socdec_gender,z_test_proportion(male=1),NaN,NaN,0,0,p_male_a=nan | p_male_b=nan | dropped(-1) лока...
12,pyaterka vs magnit,visit_freq,Chi-square,31.582828,2.327895e-06,435,397,dof=4 | min_expected=44.853 | k=5
13,pyaterka vs magnit,socdec_age_years,Mann–Whitney U,78319.500000,2.024109e-02,435,397,
14,pyaterka vs magnit,socdec_household_size,Chi-square,6.750398,1.496813e-01,435,397,dof=4 | min_expected=41.036 | k=5
15,pyaterka vs magnit,socdec_material_status,Chi-square,3.265089,5.144825e-01,435,397,dof=4 | min_expected=10.975 | k=5
16,pyaterka vs magnit,socdec_primary_shopper,Chi-square,0.815826,6.650368e-01,435,397,dof=2 | min_expected=19.087 | k=3
17,pyaterka vs magnit,socdec_gender,z_test_proportion(male=1),NaN,NaN,0,0,p_male_a=nan | p_male_b=nan | dropped(-1) лока...

In [85]:
categorical_cols = [
    "socdec_gender",
    "socdec_primary_shopper",
    "socdec_household_size",
    "socdec_material_status",
    "visit_freq",
]

In [86]:
def categorical_frequencies(df: pd.DataFrame, df_name: str, cols: list[str], normalize: bool = False):
    """
    Печатает распределения частот по категориальным колонкам.
    normalize=False -> абсолютные частоты
    normalize=True  -> доли
    """
    print(f"\n==================== {df_name.upper()} ====================")

    for col in cols:
        if col not in df.columns:
            print(f"\n[{col}] — НЕТ В ДАТАСЕТЕ")
            continue

        print(f"\n[{col}]")
        vc = (
            df[col]
            .astype("object")
            .apply(lambda v: v.strip() if isinstance(v, str) else v)
            .value_counts(dropna=False, normalize=normalize)
        )

        display(vc.to_frame("freq" if not normalize else "share"))

In [87]:
categorical_frequencies(pyaterka, "pyaterka", categorical_cols, normalize=False)
categorical_frequencies(magnit,   "magnit",   categorical_cols, normalize=False)
categorical_frequencies(lenta,    "lenta",    categorical_cols, normalize=False)

==================== PYATERKA ====================

[socdec_gender]

                  freq
socdec_gender
Женский            249
Мужской            182
Не хочу отвечать     4

[socdec_primary_shopper]

                                           freq
socdec_primary_shopper
Я                                           255
Все взрослые члены семьи в равной степени   157
Кто-то другой                                23

[socdec_household_size]

                       freq
socdec_household_size
3                       110
4                       109
2                       107
1                        73
5+                       36

[socdec_material_status]

                                                    freq
socdec_material_status
Могу себе позволить крупную бытовую технику, но...   183
Могу себе позволить новую одежду и обувь, но на...   170
На покупку продуктов денег хватает, но на одежд...    35
Могу себе позволить новый автомобиль                  34
Едва хватает купить еду                               13

[visit_freq]

                        freq
visit_freq
Несколько раз в неделю   213
Раз в неделю              93
Каждый день               58
Реже раза в месяц         40
Раз в месяц               31

==================== MAGNIT ====================

[socdec_gender]

                  freq
socdec_gender
Женский            252
Мужской            142
Не хочу отвечать     3

[socdec_primary_shopper]

                                           freq
socdec_primary_shopper
Я                                           243
Все взрослые члены семьи в равной степени   137
Кто-то другой                                17

[socdec_household_size]

                       freq
socdec_household_size
3                       112
2                        93
4                        89
1                        53
5+                       50

[socdec_material_status]

                                                    freq
socdec_material_status
Могу себе позволить крупную бытовую технику, но...   186
Могу себе позволить новую одежду и обувь, но на...   142
Могу себе позволить новый автомобиль                  35
На покупку продуктов денег хватает, но на одежд...    24
Едва хватает купить еду                               10

[visit_freq]

                        freq
visit_freq
Несколько раз в неделю   142
Раз в неделю              95
Раз в месяц               67
Реже раза в месяц         54
Каждый день               39

==================== LENTA ====================

[socdec_gender]

                  freq
socdec_gender
Женский            224
Мужской            147
Не хочу отвечать     4

[socdec_primary_shopper]

                                           freq
socdec_primary_shopper
Я                                           235
Все взрослые члены семьи в равной степени   120
Кто-то другой                                20

[socdec_household_size]

                       freq
socdec_household_size
3                       100
4                        92
2                        92
1                        47
5+                       44

[socdec_material_status]

                                                    freq
socdec_material_status
Могу себе позволить крупную бытовую технику, но...   191
Могу себе позволить новую одежду и обувь, но на...   122
На покупку продуктов денег хватает, но на одежд...    28
Могу себе позволить новый автомобиль                  26
Едва хватает купить еду                                8

[visit_freq]

                        freq
visit_freq
Реже раза в месяц        106
Раз в месяц              105
Раз в неделю              98
Несколько раз в неделю    56
Каждый день               10

In [88]:
def relative_freq_table_3dfs(
    pyaterka: pd.DataFrame,
    magnit: pd.DataFrame,
    lenta: pd.DataFrame,
    col: str
):
    """
    Возвращает DataFrame:
    index   -> категории переменной col
    columns -> pyaterka | magnit | lenta
    values  -> относительные частоты (доли)
    
    Если категории нет в датасете — ставится 0.
    """
    def _rel_freq(df: pd.DataFrame):
        if col not in df.columns:
            return pd.Series(dtype=float)

        s = (
            df[col]
            .astype("object")
            .apply(lambda v: v.strip() if isinstance(v, str) else v)
        )

        return s.value_counts(normalize=True, dropna=False)

    p = _rel_freq(pyaterka)
    m = _rel_freq(magnit)
    l = _rel_freq(lenta)

    table = pd.concat(
        [p, m, l],
        axis=1,
        keys=["pyaterka", "magnit", "lenta"]
    ).fillna(0)

    # для красоты: сортировка категорий по суммарной доле
    table = table.loc[
        table.sum(axis=1).sort_values(ascending=False).index
    ]

    return table

In [89]:
categorical_cols = [
    "socdec_gender",
    "socdec_primary_shopper",
    "socdec_household_size",
    "socdec_material_status",
    "visit_freq",
]

freq_tables = {}

for col in categorical_cols:
    freq_tables[col] = relative_freq_table_3dfs(
        pyaterka,
        magnit,
        lenta,
        col=col
    )

In [90]:
categorical_cols = [
    "socdec_gender",
    "socdec_primary_shopper",
    "socdec_household_size",
    "socdec_material_status",
    "visit_freq",
]

for col in categorical_cols:
    print("\n" + "=" * 80)
    print(f"VARIABLE: {col}")
    print("=" * 80)

    table = relative_freq_table_3dfs(
        pyaterka,
        magnit,
        lenta,
        col=col
    )

    display(table)

================================================================================
VARIABLE: socdec_gender
================================================================================

                  pyaterka    magnit     lenta
socdec_gender
Женский           0.572414  0.634761  0.597333
Мужской           0.418391  0.357683  0.392000
Не хочу отвечать  0.009195  0.007557  0.010667

================================================================================
VARIABLE: socdec_primary_shopper
================================================================================

                                           pyaterka    magnit     lenta
socdec_primary_shopper
Я                                          0.586207  0.612091  0.626667
Все взрослые члены семьи в равной степени  0.360920  0.345088  0.320000
Кто-то другой                              0.052874  0.042821  0.053333

================================================================================
VARIABLE: socdec_household_size
================================================================================

                       pyaterka    magnit     lenta
socdec_household_size
3                      0.252874  0.282116  0.266667
2                      0.245977  0.234257  0.245333
4                      0.250575  0.224181  0.245333
1                      0.167816  0.133501  0.125333
5+                     0.082759  0.125945  0.117333

================================================================================
VARIABLE: socdec_material_status
================================================================================

,pyaterka,magnit,lenta
socdec_material_status,,,
"Могу себе позволить крупную бытовую технику, но на автомобиль приходится брать кредит",0.420690,0.468514,0.509333
"Могу себе позволить новую одежду и обувь, но на крупную бытовую технику приходится брать кредит",0.390805,0.357683,0.325333
Могу себе позволить новый автомобиль,0.078161,0.088161,0.069333
"На покупку продуктов денег хватает, но на одежду и обувь приходится брать кредит",0.080460,0.060453,0.074667
Едва хватает купить еду,0.029885,0.025189,0.021333

================================================================================
VARIABLE: visit_freq
================================================================================

                        pyaterka    magnit     lenta
visit_freq
Несколько раз в неделю  0.489655  0.357683  0.149333
Раз в неделю            0.213793  0.239295  0.261333
Раз в месяц             0.071264  0.168766  0.280000
Реже раза в месяц       0.091954  0.136020  0.282667
Каждый день             0.133333  0.098237  0.026667

In [93]:
lenta['socdec_material_status'].unique()

<StringArray>
[          'Могу себе позволить крупную бытовую технику, но на автомобиль приходится брать кредит',
 'Могу себе позволить новую одежду и обувь, но на крупную бытовую технику приходится брать кредит',
                'На покупку продуктов денег хватает, но на одежду и обувь приходится брать кредит',
                                                                        'Едва хватает купить еду ',
                                                           'Могу себе позволить новый автомобиль ']
Length: 5, dtype: str

In [96]:
# выбираем два датасета для сравнения
df_a = pyaterka
df_b = magnit

# --- подготовка данных (локально для теста) ---
a = pd.to_numeric(df_a["socdec_gender_num"], errors="coerce").dropna()
b = pd.to_numeric(df_b["socdec_gender_num"], errors="coerce").dropna()

# убираем "не хочу отвечать" (-1) ТОЛЬКО тут
a = a[a != -1]
b = b[b != -1]

# размеры выборок
n1 = len(a)
n2 = len(b)

# число мужчин
x1 = (a == 1).sum()
x2 = (b == 1).sum()

# доли
p1 = x1 / n1
p2 = x2 / n2

# --- z-тест для разности долей ---
p_pool = (x1 + x2) / (n1 + n2)
z = (p1 - p2) / np.sqrt(p_pool * (1 - p_pool) * (1/n1 + 1/n2))
p_value = 2 * scipy.stats.norm.sf(abs(z))

# --- вывод ---
print(f"pyaterka: доля мужчин = {p1:.3f} (n={n1})")
print(f"magnit:   доля мужчин = {p2:.3f} (n={n2})")
print(f"z = {z:.3f}")
print(f"p-value = {p_value:.4f}")

pyaterka: доля мужчин = 0.422 (n=431)
magnit:   доля мужчин = 0.360 (n=394)
z = 1.818
p-value = 0.0691

In [97]:
# бины и метки возраста
bins = [18, 24, 34, 44, 54, np.inf]
labels = ["18-24", "25-34", "35-44", "45-54", "55+"]

for name, df in [
    ("pyaterka", pyaterka),
    ("magnit", magnit),
    ("lenta", lenta),
]:
    # перекодировка возраста
    age = pd.to_numeric(df["socdec_age_years"], errors="coerce")

    df["socdec_age_cat"] = pd.cut(
        age,
        bins=bins,
        labels=labels,
        right=True,
        include_lowest=True
    )

    # вывод уникальных значений
    print("\n" + "=" * 60)
    print(f"{name.upper()} — socdec_age_cat (уникальные значения)")
    print("=" * 60)
    print(df["socdec_age_cat"].value_counts(dropna=False))

============================================================
PYATERKA — socdec_age_cat (уникальные значения)
============================================================
socdec_age_cat
18-24    190
35-44     86
45-54     62
25-34     49
55+       43
NaN        5
Name: count, dtype: int64

============================================================
MAGNIT — socdec_age_cat (уникальные значения)
============================================================
socdec_age_cat
18-24    129
35-44     90
45-54     78
25-34     58
55+       35
NaN        7
Name: count, dtype: int64

============================================================
LENTA — socdec_age_cat (уникальные значения)
============================================================
socdec_age_cat
18-24    135
35-44     99
45-54     51
25-34     45
55+       41
NaN        4
Name: count, dtype: int64

In [98]:
for name, df in [
    ("pyaterka", pyaterka),
    ("magnit", magnit),
    ("lenta", lenta),
]:
    age = pd.to_numeric(df["socdec_age_years"], errors="coerce")

    mask_under_18 = age < 18

    print("\n" + "=" * 60)
    print(f"{name.upper()} — проверка возраста < 18")
    print("=" * 60)

    print("Количество наблюдений < 18:", mask_under_18.sum())

    if mask_under_18.any():
        print("Значения возраста < 18:")
        print(age[mask_under_18].value_counts())
    else:
        print("Возрастов < 18 нет")

============================================================
PYATERKA — проверка возраста < 18
============================================================
Количество наблюдений < 18: 5
Значения возраста < 18:
socdec_age_years
17.0    3
16.0    1
7.0     1
Name: count, dtype: int64

============================================================
MAGNIT — проверка возраста < 18
============================================================
Количество наблюдений < 18: 7
Значения возраста < 18:
socdec_age_years
17.0    4
16.0    3
Name: count, dtype: int64

============================================================
LENTA — проверка возраста < 18
============================================================
Количество наблюдений < 18: 4
Значения возраста < 18:
socdec_age_years
17    3
14    1
Name: count, dtype: int64

In [99]:
# бины и метки возраста (добавили <18)
bins = [-np.inf, 17, 24, 34, 44, 54, np.inf]
labels = ["<18", "18-24", "25-34", "35-44", "45-54", "55+"]

for name, df in [
    ("pyaterka", pyaterka),
    ("magnit", magnit),
    ("lenta", lenta),
]:
    age = pd.to_numeric(df["socdec_age_years"], errors="coerce")

    df["socdec_age_cat"] = pd.cut(
        age,
        bins=bins,
        labels=labels,
        right=True,
        include_lowest=True
    )

    print("\n" + "=" * 60)
    print(f"{name.upper()} — socdec_age_cat (распределение)")
    print("=" * 60)
    print(df["socdec_age_cat"].value_counts(dropna=False))

============================================================
PYATERKA — socdec_age_cat (распределение)
============================================================
socdec_age_cat
18-24    190
35-44     86
45-54     62
25-34     49
55+       43
<18        5
Name: count, dtype: int64

============================================================
MAGNIT — socdec_age_cat (распределение)
============================================================
socdec_age_cat
18-24    129
35-44     90
45-54     78
25-34     58
55+       35
<18        7
Name: count, dtype: int64

============================================================
LENTA — socdec_age_cat (распределение)
============================================================
socdec_age_cat
18-24    135
35-44     99
45-54     51
25-34     45
55+       41
<18        4
Name: count, dtype: int64

In [100]:
from itertools import combinations

datasets = {
    "pyaterka": pyaterka,
    "magnit": magnit,
    "lenta": lenta,
}

for (name_a, df_a), (name_b, df_b) in combinations(datasets.items(), 2):
    print("\n" + "=" * 80)
    print(f"CHI-SQUARE (без <18): socdec_age_cat — {name_a} vs {name_b}")
    print("=" * 80)

    # берем только возрастную категорию
    a = df_a[["socdec_age_cat"]].copy()
    b = df_b[["socdec_age_cat"]].copy()

    a["dataset"] = name_a
    b["dataset"] = name_b

    both = pd.concat([a, b], ignore_index=True)

    # локально убираем <18 и NaN
    both = both[
        both["socdec_age_cat"].notna() &
        (both["socdec_age_cat"] != "<18")
    ]

    # таблица сопряженности
    ct = pd.crosstab(both["dataset"], both["socdec_age_cat"])

    display(ct)

    # защита от вырожденных случаев
    if ct.shape[0] < 2 or ct.shape[1] < 2:
        print("χ² не проводится: недостаточно категорий")
        continue

    chi2, p, dof, expected = scipy.stats.chi2_contingency(ct)

    print(f"chi2 = {chi2:.3f}")
    print(f"dof  = {dof}")
    print(f"p-value = {p:.5f}")
    print(f"min expected = {expected.min():.3f}")

================================================================================
CHI-SQUARE (без <18): socdec_age_cat — pyaterka vs magnit
================================================================================

socdec_age_cat  18-24  25-34  35-44  45-54  55+
dataset
magnit            129     58     90     78   35
pyaterka          190     49     86     62   43

chi2 = 13.242
dof  = 4
p-value = 0.01015
min expected = 37.098

================================================================================
CHI-SQUARE (без <18): socdec_age_cat — pyaterka vs lenta
================================================================================

socdec_age_cat  18-24  25-34  35-44  45-54  55+
dataset
lenta             135     45     99     51   41
pyaterka          190     49     86     62   43

chi2 = 7.203
dof  = 4
p-value = 0.12554
min expected = 38.906

================================================================================
CHI-SQUARE (без <18): socdec_age_cat — magnit vs lenta
================================================================================

socdec_age_cat  18-24  25-34  35-44  45-54  55+
dataset
lenta             135     45     99     51   41
magnit            129     58     90     78   35

chi2 = 7.861
dof  = 4
p-value = 0.09680
min expected = 37.051

In [101]:
lenta.columns

Index(['visit_freq', 'logo_dobryy', 'logo_365_dney', 'logo_giardino_club',
       'logo_spar', 'logo_lenta', 'logo_delisse', 'logo_premium_club',
       'logo_dolce_albero', 'logo_home_club', 'logo_lenta_fresh', 'stm_freq',
       'stm_share', 'attitude_item_quality_concern_likert',
       'attitude_item_prefer_available_likert',
       'attitude_item_brand_alternative_likert',
       'benefit_item_saves_money_likert',
       'benefit_item_choose_same_price_likert',
       'benefit_item_value_money_likert',
       'assortment_item_category_coverage_likert',
       'assortment_item_price_range_likert',
       'assortment_item_wide_choice_likert',
       'retailer_brand_item_logo_quality_trust_likert',
       'retailer_brand_item_quality_guarantee_likert',
       'retailer_brand_item_failure_hurts_attitude_likert',
       'cannibalization_item_too_similar_likert',
       'cannibalization_item_choice_difficulty_likert',
       'cannibalization_item_segment_clarity_likert',
       'uniqueness_item_unique_features_likert',
       'uniqueness_item_visit_for_pl_likert',
       'uniqueness_item_new_interest_likert',
       'loyalty_item_regular_purchase_likert',
       'loyalty_item_prefer_over_brands_likert',
       'loyalty_item_recommend_pl_likert',
       'Я регулярно совершаю покупки в магазинах Лента',
       'Когда есть выбор я предпочитаю магазины Лента другим магазинам',
       'recommend_chain', 'socdec_gender', 'socdec_education_level',
       'socdec_age_years', 'socdec_primary_shopper', 'socdec_household_size',
       'socdec_overall_purchase_frequency', 'socdec_residence_type',
       'socdec_material_status', 'retailer', 'socdec_material_status_recoded',
       'socdec_gender_num', 'socdec_material_status_clean', 'socdec_age_cat'],
      dtype='str')

In [102]:
# -----------------------------
# настройки квотирования
# -----------------------------
quota_cols = [
    "socdec_material_status",
    "socdec_gender",
    "socdec_primary_shopper",
    "socdec_age_cat",
]

datasets = {
    "pyaterka": pyaterka,
    "magnit": magnit,
    "lenta": lenta,
}

rng = np.random.default_rng(42)  # фиксируем сид для воспроизводимости


# -----------------------------
# 1. оставляем только строки, где ВСЕ квотные признаки заполнены
# -----------------------------
cleaned = {}
for name, df in datasets.items():
    cleaned[name] = df.dropna(subset=quota_cols).copy()


# -----------------------------
# 2. считаем размер каждой страты в каждом датасете
# -----------------------------
group_sizes = {}

for name, df in cleaned.items():
    group_sizes[name] = (
        df
        .groupby(quota_cols)
        .size()
        .rename(name)
    )

# объединяем в одну таблицу
sizes_df = pd.concat(group_sizes.values(), axis=1).fillna(0).astype(int)

# -----------------------------
# 3. целевая квота = минимум по трем сетям в каждой страте
# -----------------------------
sizes_df["target_n"] = sizes_df.min(axis=1)

# убираем страты, где хотя бы в одной сети 0 наблюдений
sizes_df = sizes_df[sizes_df["target_n"] > 0]

print("Количество страт, попавших в квотирование:", sizes_df.shape[0])
display(sizes_df.head())

Количество страт, попавших в квотирование: 61

                                                                                                                              pyaterka  \
socdec_material_status                             socdec_gender    socdec_primary_shopper                    socdec_age_cat
Едва хватает купить еду                            Женский          Я                                         45-54                  1
                                                   Мужской          Я                                         25-34                  1
                                                   Не хочу отвечать Я                                         55+                    1
Могу себе позволить крупную бытовую технику, но... Женский          Все взрослые члены семьи в равной степени 18-24                 22
                                                                                                              25-34                  7

                                                                                                                              magnit  \
socdec_material_status                             socdec_gender    socdec_primary_shopper                    socdec_age_cat
Едва хватает купить еду                            Женский          Я                                         45-54                2
                                                   Мужской          Я                                         25-34                1
                                                   Не хочу отвечать Я                                         55+                  1
Могу себе позволить крупную бытовую технику, но... Женский          Все взрослые члены семьи в равной степени 18-24               20
                                                                                                              25-34                5

                                                                                                                              lenta  \
socdec_material_status                             socdec_gender    socdec_primary_shopper                    socdec_age_cat
Едва хватает купить еду                            Женский          Я                                         45-54               3
                                                   Мужской          Я                                         25-34               1
                                                   Не хочу отвечать Я                                         55+                 1
Могу себе позволить крупную бытовую технику, но... Женский          Все взрослые члены семьи в равной степени 18-24              15
                                                                                                              25-34               6

                                                                                                                              target_n
socdec_material_status                             socdec_gender    socdec_primary_shopper                    socdec_age_cat
Едва хватает купить еду                            Женский          Я                                         45-54                  1
                                                   Мужской          Я                                         25-34                  1
                                                   Не хочу отвечать Я                                         55+                    1
Могу себе позволить крупную бытовую технику, но... Женский          Все взрослые члены семьи в равной степени 18-24                 15
                                                                                                              25-34                  5

In [103]:
lenta.socdec_primary_shopper.unique()

<StringArray>
['Я', 'Все взрослые члены семьи в равной степени', 'Кто-то другой']
Length: 3, dtype: str

In [104]:
# -----------------------------
# 4. случайно отбираем target_n наблюдений в каждой страте
# -----------------------------
balanced = {}

for name, df in cleaned.items():
    parts = []

    for strata_values, row in sizes_df.iterrows():
        target_n = row["target_n"]

        # фильтр по конкретной страте
        mask = np.ones(len(df), dtype=bool)
        for col, val in zip(quota_cols, strata_values):
            mask &= (df[col] == val)

        sub = df.loc[mask]

        # случайная подвыборка
        sampled_idx = rng.choice(sub.index, size=target_n, replace=False)
        parts.append(df.loc[sampled_idx])

    balanced[name] = pd.concat(parts, ignore_index=True)

    print(f"{name}: было {len(df)}, стало {len(balanced[name])}")

pyaterka: было 435, стало 259
magnit: было 397, стало 259
lenta: было 375, стало 259

In [105]:
from itertools import combinations

chi2_cols = [
    "socdec_material_status",
    "socdec_gender",          # НЕ бинарный, а строковый — как и просил
    "socdec_primary_shopper",
    "socdec_age_cat",
]

datasets = {
    "pyaterka": pyaterka_q,
    "magnit": magnit_q,
    "lenta": lenta_q,
}

for col in chi2_cols:
    print("\n" + "#" * 100)
    print(f"CHI-SQUARE TEST — {col}")
    print("#" * 100)

    for (name_a, df_a), (name_b, df_b) in combinations(datasets.items(), 2):
        print("\n" + "-" * 80)
        print(f"{name_a} vs {name_b}")
        print("-" * 80)

        a = df_a[[col]].copy()
        b = df_b[[col]].copy()

        a["dataset"] = name_a
        b["dataset"] = name_b

        both = pd.concat([a, b], ignore_index=True)

        # локально чистим
        both = both.dropna(subset=[col])
        both[col] = both[col].astype("object").apply(
            lambda v: v.strip() if isinstance(v, str) else v
        )

        ct = pd.crosstab(both["dataset"], both[col])
        display(ct)

        # защита от вырождения
        if ct.shape[0] < 2 or ct.shape[1] < 2:
            print("χ² не проводится: недостаточно категорий")
            continue

        chi2, p, dof, expected = scipy.stats.chi2_contingency(ct)

        print(f"chi2 = {chi2:.3f}")
        print(f"dof  = {dof}")
        print(f"p-value = {p:.6f}")
        print(f"min expected = {expected.min():.3f}")

NameError: name 'pyaterka_q' is not defined

In [106]:
pyaterka.shape

(435, 50)

In [107]:
# -----------------------------
# 5. итоговые гомогенные датасеты
# -----------------------------
pyaterka_q = balanced["pyaterka"]
magnit_q   = balanced["magnit"]
lenta_q    = balanced["lenta"]

# быстрый чек: распределения должны совпадать
for col in quota_cols:
    print("\n" + "=" * 80)
    print(f"CHECK: {col}")
    print("=" * 80)

    display(
        pd.concat(
            {
                "pyaterka": pyaterka_q[col].value_counts(normalize=True),
                "magnit": magnit_q[col].value_counts(normalize=True),
                "lenta":  lenta_q[col].value_counts(normalize=True),
            },
            axis=1
        ).fillna(0)
    )

================================================================================
CHECK: socdec_material_status
================================================================================

,pyaterka,magnit,lenta
socdec_material_status,,,
"Могу себе позволить крупную бытовую технику, но на автомобиль приходится брать кредит",0.517375,0.517375,0.517375
"Могу себе позволить новую одежду и обувь, но на крупную бытовую технику приходится брать кредит",0.366795,0.366795,0.366795
"На покупку продуктов денег хватает, но на одежду и обувь приходится брать кредит",0.057915,0.057915,0.057915
Могу себе позволить новый автомобиль,0.046332,0.046332,0.046332
Едва хватает купить еду,0.011583,0.011583,0.011583

================================================================================
CHECK: socdec_gender
================================================================================

                  pyaterka    magnit     lenta
socdec_gender
Женский           0.652510  0.652510  0.652510
Мужской           0.343629  0.343629  0.343629
Не хочу отвечать  0.003861  0.003861  0.003861

================================================================================
CHECK: socdec_primary_shopper
================================================================================

                                           pyaterka    magnit     lenta
socdec_primary_shopper
Я                                          0.625483  0.625483  0.625483
Все взрослые члены семьи в равной степени  0.335907  0.335907  0.335907
Кто-то другой                              0.038610  0.038610  0.038610

================================================================================
CHECK: socdec_age_cat
================================================================================

                pyaterka    magnit     lenta
socdec_age_cat
18-24           0.389961  0.389961  0.389961
35-44           0.266409  0.266409  0.266409
45-54           0.142857  0.142857  0.142857
25-34           0.111969  0.111969  0.111969
55+             0.084942  0.084942  0.084942
<18             0.003861  0.003861  0.003861

In [109]:
for name, df in [
    ("pyaterka", pyaterka_q),
    ("magnit", magnit_q),
    ("lenta", lenta_q),
]:
    before = len(df)

    df.drop(
        df[df["socdec_age_cat"] == "<18"].index,
        inplace=True
    )

    after = len(df)

    print(f"{name}: удалено <18 — {before - after}, осталось {after}")

pyaterka: удалено <18 — 1, осталось 258
magnit: удалено <18 — 1, осталось 258
lenta: удалено <18 — 1, осталось 258

In [110]:
pyaterka_q.columns

Index(['visit_freq', 'logo_dobryy', 'logo_global_village',
       'logo_krasnaya_tsena', 'logo_restoriya', 'logo_selyanochka',
       'logo_fish_house', 'logo_mix_bar', 'logo_stantsiya_molochnaya',
       'logo_sarafanovo', 'logo_lenta_fresh', 'stm_freq', 'stm_share',
       'attitude_item_quality_concern_likert',
       'attitude_item_prefer_available_likert',
       'attitude_item_brand_alternative_likert',
       'benefit_item_saves_money_likert',
       'benefit_item_choose_same_price_likert',
       'benefit_item_value_money_likert',
       'assortment_item_category_coverage_likert',
       'assortment_item_price_range_likert',
       'assortment_item_wide_choice_likert',
       'retailer_brand_item_logo_quality_trust_likert',
       'retailer_brand_item_quality_guarantee_likert',
       'retailer_brand_item_failure_hurts_attitude_likert',
       'cannibalization_item_too_similar_likert',
       'cannibalization_item_choice_difficulty_likert',
       'cannibalization_item_segment_clarity_likert',
       'uniqueness_item_unique_features_likert',
       'uniqueness_item_visit_for_pl_likert',
       'uniqueness_item_new_interest_likert',
       'loyalty_item_regular_purchase_likert',
       'loyalty_item_prefer_over_brands_likert',
       'loyalty_item_recommend_pl_likert',
       'loyalty_retailer_item_regular_purchase_likert', 'prefer_chain',
       'recommend_chain', 'socdec_gender', 'socdec_education_level',
       'socdec_age_years', 'socdec_primary_shopper', 'socdec_household_size',
       'socdec_overall_purchase_frequency', 'socdec_residence_type',
       'socdec_material_status', 'retailer', 'socdec_material_status_recoded',
       'socdec_gender_num', 'socdec_material_status_clean', 'socdec_age_cat'],
      dtype='str')

In [111]:
cols_to_drop = [
    "socdec_material_status_recoded",
    "socdec_gender_num",
    "socdec_material_status_clean",
]

# список квотированных датасетов
datasets_q = {
    "pyaterka_q": pyaterka_q,
    "magnit_q": magnit_q,
    "lenta_q": lenta_q,
}

for name, df in datasets_q.items():
    df_clean = df.drop(columns=[c for c in cols_to_drop if c in df.columns])

    out_path = f"{name}.xlsx"
    df_clean.to_excel(out_path, index=False)

    print(f"{name}: сохранен файл {out_path}")

pyaterka_q: сохранен файл pyaterka_q.xlsx
magnit_q: сохранен файл magnit_q.xlsx
lenta_q: сохранен файл lenta_q.xlsx